# SPOTIFY API - PKCE MİMARİSİ
# Bu bilgileri https://developer.spotify.com/dashboard adresinden uygulamanızı oluşturarak alabilirsiniz.
# UYARI: Güvenlik gereği Client Secret kullanılmamaktadır.
SPOTIPY_CLIENT_ID="kendi_client_id_kodunuzu_buraya_yaziniz"
SPOTIPY_REDIRECT_URI="http://127.0.0.1:8888/callback"